
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0


/*end reset*/

h3
  font-size: 22px
  margin: 10px 0 0
  padding-bottom: 15px
.app
  margin: 50px
  font: 14px sans-serif
.transactionFeed
  display: block
  max-height: 500px
  overflow-y: scroll
  width: 350px

/*.main
  position: relative*/
.themes-list
  display: block
  position: absolute
  left: 430px
  top: 40px
.theme
  position: relative
b
  font-weight: 700
.project
  position: relative
  left: 50px
